{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="container">
    <div class="top-container">
        <p>Статьи на связи: быстро, удобно, качественно</p>
    </div>
    <div class="bottom">
        <p>Наш сайт создан, чтобы обеспечить легкий доступ к статьям, созданным нашими авторами. Среди нас - Савин Андрей, бэк-енд разработчик, который делает наш сайт функциональным и надежным; Командин Алексей, фронт-енд разработчик, который делает наш сайт красивым и удобным в использовании; и Шестопалова Вероника, наш креативный директор, который отвечает за визуальное оформление и пользовательский опыт.</p>
        <p>Мы стремимся сделать пребывание на нашем сайте максимально комфортным и продуктивным для каждого пользователя. Для этого мы разработали несколько функций, которые делают использование сайта приятным и удобным:</p>
        <ul>
            <li><p>Контактная информация автора статьи: Вы можете легко найти контактные данные автора статьи и связаться с ним, оставив комментарий или задав уточняющий вопрос.</p></li>
            <li><p>Публикация статей: Авторы могут писать статьи с привязкой к своему аккаунту, что позволяет им в дальнейшем просматривать и редактировать свои статьи.</p></li>
            <li><p>Отображение контактной информации автора: Мы убедились, что контактная информация автора статьи легко доступна для читателей, чтобы они могли связаться с ним для комментариев или уточняющих вопросов.</p></li>
            <li><p>Компактный формат: Мы предоставляем статьи в удобном формате списка, который позволяет быстро находить нужные материалы. При необходимости вы всегда можете просмотреть статью более детально.</p></li>
        </ul>
        <p>Мы создали этот сайт, чтобы обеспечить вам легкий доступ к качественным статьям и обеспечить эффективное взаимодействие между авторами и читателями.</p>
    </div>
</div>
{% endblock %}