.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.top-container {
    display: flex;
    height: 100px;
    flex: 1;
    display: flex;
    justify-content: center; /* Размещение по центру по горизонтали */
    align-items: center; /* Размещение по центру по вертикали */
}
.bottom {
    background-color: #cff4fc;
    border-radius: 10%;
    flex: 1;
    padding-left: 10px;
}

div .bottom p {
    font-size: 20px; 
    margin: 25px;   

}

div .top-container p {
    font-size: 30px; 
}

